
.global-nav h1 {
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    margin-left: 1rem;

    color: var(--primary-050);
    text-shadow: 1px 1px 0 var(--dark-026);
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.img-sizing {
    max-width: 100%;
    width: 1024px;
}
  .global-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;

    box-shadow: 0 2px 1rem var(--dark-026);
}

.global-nav .menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.global-nav .menu ul a {
    color: var(--primary-050);
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-size: 1.125rem;
    padding: calc(1.25rem - 4px) 2rem;
    transition: color,background-color 0.3s;
    border-right: 1px solid var(--dark-012);
    border-top: 4px solid transparent; 
    border-bottom: 4px solid transparent; 
}
.global-nav .menu ul li:last-child a {
    border-right: none;
}
.global-nav .menu ul a:hover {
    background-color: var(--primary-050);
    color: var(--secondary-050);
    border-bottom: 4px solid var(--secondary-050);
}
#sec1 {
    background-image: url("1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#sec2 {
    background-image: url("2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#sec3 {
    background-image: url("3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#sec4 {
    background-image: url("4.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#sec5 {
    background-image: url("5.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}